.product-table {
  width: 90%;
  min-height: 600px;

  .item {
    float: left;
    width: 200px;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 120px;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover {
      border: 1px solid #eee;
    }

    &__thumb {
      img {
        width: 100%;
      }
    }

    &__title {
      position: relative;
      padding: 0 20px;
      height: 45px;

      &::before {
        content: '';
        width: 20px;
        height: 2px;
        background-color: #eabf00;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -10px;
      }
    }

    &__price {
      height: 60px;

      .val {
        b {
          font-size: 1.5em;
          margin-left: 5px;
        }
      }
    }

    &__buy-btn {
      background-color: darkgray;
      color: #fff;
      width: 25%;
      height: 50%;
      padding: 15px 0;
      cursor: pointer;
      border-radius: 100px;
      transition: background-color 0.2s;
    }
  }
}

.filter{
  text-align: left;
  width: 75%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  }

.filter-button {
  width: 40px;
  height: 40px;
  margin-left: 40px;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 60px;
}

.filter-button.selected {
  width: 40px;
  height: 40px;
  margin-left: 40px;
  border: 1px solid black;
  border-radius: 60px;
  background-color: black;
  color: white;
}


.item__buy-btn:hover{
  background-color: goldenrod;
  }

.float-cart {
  position: fixed;
  top: 0;
  right: -275px;
  width: 275px;
  height: 100%;
  background-color: darkgrey;
  box-sizing: border-box;
  transition: right 0.2s;

  &--open {
    right: 0;
  }

  &__close-btn {
    width: 50px;
    height: 50px;
    color: #ececec;
    background-color: #1b1a20;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 0;
    left: -50px;
    cursor: pointer;

    &:hover {
      background-color: #212027;
    }
  }
  .bag {
    width: 40px;
    height: 40px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    background-image: url('./static/bag-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    &--float-cart-closed {
      position: absolute;
      background-color: #000;
      background-size: 50%;
      left: -60px;
      width: 60px;
      height: 60px;
      cursor: pointer;

      .bag__quantity {
        bottom: 5px;
        right: 10px;
      }
    }

    &__quantity {
      display: inline-block;
      width: 18px;
      height: 18px;
      color: #0c0b10;
      font-weight: bold;
      font-size: 0.7em;
      text-align: center;
      line-height: 18px;
      border-radius: 50%;
      background-color: #eabf00;
      position: absolute;
      bottom: -5px;
      right: 0px;
    }
  }

  &__header {
    color: #ececec;
    box-sizing: border-box;
    text-align: center;
    padding: 45px 0;

    .header-title {
      font-weight: bold;
      font-size: 1.2em;
      vertical-align: middle;
    }
  }

  &__product-table {
    position: relative;
    min-height: 280px;
    padding-bottom: 200px;

    .shelf-empty {
      color: #ececec;
      text-align: center;
      line-height: 40px;
    }

    .item {
      margin-bottom: 120px;
      position: relative;
      box-sizing: border-box;
      padding: 5%;
      transition: background-color 0.2s, opacity 0.2s;

      &::before {
        content: '';
        width: 90%;
        height: 2px;
        background-color: rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 0;
        left: 5%;
      }

      &--mouseover {
        .item__details {
          .quantity{
            text-decoration: underline;
            }
        }
      }

      &__del {
        width: 16px;
        height: 16px;
        float: right;
        border-radius: 50%;
        position: relative;
        background-size: auto 100%;
        background-image: url('./static/sprite_delete-icon.png');
        background-repeat: no-repeat;
        z-index: 2;
        cursor: pointer;
      }

      &__thumb,
      &__details,
      &__price {
        display: inline-block;
        vertical-align: middle;
        float: left;
      }

      &__thumb {
        vertical-align: middle;
        width: 15%;
        margin-right: 3%;

        img {
          width: 100%;
          height: auto;
        }
      }

      &__details {
        width: 57%;

        .title {
          color: #ececec;
          margin: 0;
        }

        .desc {
          color: #5b5a5e;
          margin: 0;
        }
      }

      &__price {
        color: white;
        text-align: right;
        width: 25%;
      }
    }
  }

  &__footer {
    box-sizing: border-box;
    padding: 5%;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    z-index: 2;
    background-color: #1b1a20;

    &::before {
      content: '';
      width: 100%;
      height: 20px;
      display: block;
      position: absolute;
      top: -20px;
      left: 0;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent);
    }

    .sub,
    .sub-price {
      color: #5b5a5e;
      vertical-align: middle;
      display: inline-block;
    }

    .sub {
      width: 20%;
    }

    .sub-price {
      width: 80%;
      text-align: right;

      &__val {
        color: #eabf00;
        font-size: 22px;
      }
    }

    .buy-btn {
      color: #ececec;
      text-transform: uppercase;
      background-color: #0c0b10;
      text-align: center;
      padding: 15px 0;
      margin-top: 40px;
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
        background-color: #000;
      }
    }
  }
}

/* MAC scrollbar para desktop*/
@media screen and (min-width: 640px) {
  .float-cart__content::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
  }

  .float-cart__content::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #0c0b10;
  }
}

.float-cart__content {
  height: 100%;
  overflow-y: scroll;
}
